* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.font {
	font-family: Anta, sans-serif;
}

.container {
	background: linear-gradient(90deg, #18171D, #25232D);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 330px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

@media screen and (max-width: 768px) {
	.wrapper {
		width: 100%;
		padding: 0 10%;
	}
}

.title {
	font-weight: 600;
	font-size: 25px;
	color: white;
}

.textFieldWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;	
}

.textFieldLabel {
	font-weight: 600;
	font-size: 15px;
	color: white;
}

.textField {
	width: 100%;
	background: #25232D;
	border: 1px solid #2F2D3C;
	border-radius: 5px;
	height: 39px;
	padding: 0 10px;
	color: white;
}

.textField::placeholder {
	color: #5C5962;
}

.textFieldPassword {
	position: relative;
}
.textFieldPassword input {
	padding: 0 40px 0 10px;
}

.eyeClass {
	position: absolute;
	top: 0;
	width: 39px;
	height: 39px;
	cursor: pointer;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.checkboxWrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	cursor: pointer;
}

.checkboxArrowWrapper {
	width: 17px;
	height: 17px;
	border-radius: 3px;
	border: 1px solid #2F2D3C;
}

.label {
	font-weight: 400;
	font-size: 15px;
}

.checkboxLabel {
	color: white;
}

.checkboxArrowActive {
	border: 1px solid #6385C7;
	background: #6385C7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	color: #6385C7;
	cursor: pointer;
}

.buttonGroup {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.buttonClass {
	height: 45px;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #6385C7;
	color: #fff;
	cursor: pointer;
	font-weight: 500;
	font-size: 15px;
	border-radius: 5px;
	gap: 10px;
	border: none;
}

.buttonOutline {
	background: transparent;
	color: #6385C7;
	border: 1px solid #6385C7;
}

.orLabel {
	font-weight: 500;
	font-size: 15px;
	color: #fff;
	text-align: center;
}